body{
    margin: 0;
    background-color: #E4E4E4;
    height: 100vh;
    font-family: NanumSquareRound;
}

#header{
    position: absolute;
    left: 19px;
    top: 19px;
}

#headerStr{
    margin: 0;
    font-size: 40px;
    color: #707070;
}

#headerLine{
    border: 0;
    height: 5px;
    width: 1327px;
    background: #707070;
}

#backBoard{ 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 93px;
    z-index : 1;

    background-color: #fff;
    width: 1314px;
    height: 100%;
    border-radius: 6px;
}

.container{
    position: relative;
    top: 41px;
    left: 50%;
    transform: translateX(-50%);
}

#title{
    margin:0 0 0 25px;
    padding: 0;
    font-size: 26px;
    color: #34495E;
}

.line{
    border: 0;
    height: 1px;
    width: 1270px;
    background: #707070;
}

#content{
    padding: 0;
    margin:0 0 0 35px;
    font-size: 20px;
    color: #34495E;
}

#postDelbtn{
    width: 111.7px;
    height: 34.78px;
    font-size: 20px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #e74c3c;
    color:#34495E;
    border-radius: 5px;
    box-shadow: 0px 3px #ACACAC;
}

#postDelbtn:hover{
    background-color: #e74c3c;
    color: #fff;
}

#postDelbtn:active{
    box-shadow: 0px 1px #848484;
    transform: translateY(2px);
    background-color: #e74c3c;
    color: #ffffff;
}

#postPatchbtn{
    width: 111.7px;
    height: 34.78px;
    font-size: 20px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #34495E;
    color:#34495E;
    border-radius: 5px;
    box-shadow: 0px 3px #ACACAC;
}

#postPatchbtn:hover{
    background-color: #34495E;
    color: #fff;
}

#postPatchbtn:active{
    box-shadow: 0px 1px #848484;
    transform: translateY(2px);
    background-color: #34495E;
    color: #ffffff;
}

#commentWri{
    margin-top: 74.5px;
    resize: none;
    width: 1074px;
    height: 124px;

    border: 1px solid #34495E;
    font-size: 17px;
}

#postCommentbtn{
    width: 111.7px;
    height: 34.78px;
    font-size: 20px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #34495E;
    color:#34495E;
    border-radius: 5px;
    box-shadow: 0px 3px #ACACAC;
}
#postCommentbtn:hover{
    background-color: #34495E;
    color: #fff;
}

th{
    border: 1px solid #34495E;
}
